.navbar{
    position:fixed;
    top:0;
    left:0;

    width:100%;

    padding:22px 70px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(10,10,10,.55);

    backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.05);

    z-index:1000;

    transition:.35s;
}

.logo{

    font-size:1.6rem;
    font-weight:700;

    letter-spacing:.5px;

}

.accent{

    color:#60A5FA;

}

nav{

    display:flex;
    gap:35px;

}

nav a{

    color:#d4d4d8;

    text-decoration:none;

    font-weight:500;

    transition:.3s;

    position:relative;

}

nav a::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-8px;

    width:0;

    height:2px;

    background:#60A5FA;

    transition:.3s;

}

nav a:hover{

    color:white;

}

nav a:hover::after{

    width:100%;

}